.address-section
{
    position: relative;
    width: 90%;
    min-height: 30vh;
    background-color: pink;
    left: 5%;
    top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding:0% 0% 1% 0%;
}

.address-header{
    position: relative;
    height: 10%;
    width: 90%;
    /* background-color: red; */
    padding: 0% 0% 0% 1%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.address-content
{
    position: relative;
    height: 90%;
    width: 90%;
    left: 5%;
    background-color: aqua;
    padding: 0% 0% 1% 0%;
}

.add-address
{
    width:9%;
    background-color: rgb(108, 108, 108);
    margin-left:40%;
    padding: 1%;
    border-radius: 5px;
}

.create-address{
    position:fixed;
    width: 60%;
    height: auto;
    z-index: 1;
    background-color: rgb(210, 210, 210);
    left: 20%;
    margin-top: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    display: none;
}
.input1{
    position: relative;
    width: 70%;
    padding: 3%;
    outline: none;
    border: none;
    border-radius: 5px;
}
.btns-flex
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rebeccapurple; */
}

.btns-inside
{
    /* width: 10%; */
    outline: none;
    border: none;
    padding: 2% 3% 2% 2%;
    margin: 1%;
    background-color: blue;
    color: white;
    border-radius: 5px;
}
.btns-side1{
    position: absolute;
    top:70vh;
    left: 2vw;
    outline: none;
    border: none;
    display: none;
}