.AdminCustomerListHome{
    position: relative;
    width: 100%;
    padding:0% 0% 1% 0%;
    display: block;
}
.card-view-parent1{
    position: relative;
    width: 94%;
    height: auto;
    margin: 3% 3%;
    background-color: antiquewhite;
}
.item-cust
{
    position: relative;
    width: 90%;
    height: auto;
    margin:10px 5%;
    border-radius: 5px;
    /* top: 25px; */
    /* left: 5%; */
    background-color: rgb(222, 222, 222);
    display: flex;
    flex-direction: row;

} 
.item-cust:hover{
    cursor: pointer;
}
.item-each
{
    margin:2%;
}
.detailed{
    display: none;
}