.each-footer
{
    position:fixed;
    bottom:0%;
    width: 100%;
}
.myproduct-item1{
    width: 50%;
    margin:2% 25%;
    background-color: rgb(241, 241, 241);
}
.item-body{
    position: inherit;
    width: 96%;
    background-color: azure;
    margin: 1%;
}
.row{
    position: relative;
    width: 100%;
    /* height: 5vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.row td{
    padding:1% 1%;
    /* background-color: rebeccapurple; */
}